@import "tailwindcss";

@theme inline {
  --color-brand: #ef7722;
  --color-lightBrand: #faa533;
  --color-dark: #212121;
  --color-text: #faf9ee;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fffcfc;
  color: var(--color-dark);
}
